@font-face {
   font-family: "Poppins"; 
   src: url("../fonts/Poppins-Black.ttf") local('Poppins'); 
   font-style: normal; 
   font-weight: normal; 
   } 
@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');

*{
   font-family: 'Poppins', 'Courier New', Courier, monospace;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: #000;
}

