.header 
    .header__wrapper 
        .logo
            .logo__wrapper
                .logo__text
                    | M
            .logo__subtext
                | box
        ul.nav
            li.nav__item
                a(href="/").nav__item-link Home 
            li.nav__item
                a(href="/").nav__item-link Tv shows 
            li.nav__item
                a(href="/").nav__item-link Movies
            li.nav__item
                a(href="/").nav__item-link Series 
        ul.user-nav 
            li.user-nav__item 
                a(href='/').user-nav__link 
                    i.bx.bxs-user
            li.user-nav__item 
                a(href='/').user-nav__link H
            li.user-nav__item 
                a(href='/').user-nav__link H